<div class="container-fluid row bg-primary g-0 mb-4">
  <div class="col-12 justify-content-around align-items-center d-flex p-4">
    <a routerLink="/homepage" class="p-2 hover-custom-home">
      <img src="../../assets/media/icons/home.png" alt="Home">
    </a>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid justify-content-end">
        <!-- Botón hamburguesa -->
        <button class="navbar-toggler bg-secondary mb-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse show" id="navbarContent">
          <ul class="navbar-nav gap-3 text-black fs-5">
            <li class="nav-item">
              <a class="nav-link text-center" routerLink="/about_me">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" routerLink="/formationandexperience">Formation & Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" routerLink="/technologies">Technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-light rounded-4 hover-custom-about_me fw-bold text-black text-center" routerLink="/contact_me">CONTACT ME</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
