// Lista de colores para las filas
$colorlist: blue, red, green, orange, lightgreen, purple, yellow, violet, yellowgreen;

// Lista del tamaño de las fuentes para los encabezados
$font-sizes: 2.5rem, 2rem, 1.75rem, 1.5rem, 1.25rem, 1rem;

// Color de los bordes de la tabla
$bordercolor: beige;

// Ancho base de la tabla
$anchura: 1000px;


// Variables para el tema
$tema-claro-fondo: white;
$tema-claro-texto: black;

$tema-oscuro-fondo: black;
$tema-oscuro-texto: white;