<div class="container-fluid flex-grow-1">
  <div class="row">
    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
        <img src="../../assets/media/me.png" alt="Me!" class="w-75" style="max-width: 450px">
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
      <div class="text-center text-sm-end p-5">
        <h3>Hi, I am</h3>
        <h1 class="fw-bold">Óscar Fernández</h1>
        <h5>Software Developer</h5>

        <div class="d-flex justify-content-center justify-content-md-end gap-2 mt-2 hover-custom-logos">
          <a href="mailto:oscarfh.dev@gmail.com" target="_blank">
            <img src="./assets/media/icons/@.png" alt="mail" class="p-2">
          </a>

          <a href="https://github.com/oscarfhdev" target="_blank">
            <img src="./assets/media/icons/github.png" alt="GitHub" class="p-2">
          </a>

          <a href="https://www.linkedin.com/in/oscarfhdev/" target="_blank">
            <img src="./assets/media/icons/linkedin.png" alt="Linkedin" class="p-2">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
